@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allison&family=Poiret+One&family=Raleway&display=swap');

h1 {
    font-size: 3.8em;
    text-align: center;
    color: #001A3D;
    font-family: 'Poiret One', cursive;
}

h2 {
    font-size: 2em;
    font-family: 'Poiret One', cursive;
}
h3 {
    font-size: 1.25em;
    font-family: 'Poiret One', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    color: white;
}

#subheading {
    color: #183A2D;
    text-align: center;
    font-size: 1.25em;
    /*font-family:Georgia, 'Times New Roman', Times, serif;*/
    font-family: 'Raleway', sans-serif;
}
.rose_gold {
    /*background-color: #CE8F86;*/
    background-color: #ae8a86;
    height: 500px;
    width: inherit;
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
}
.navy {
    background-color: #012960;
    height: 500px;
    width: inherit;
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
}
.navy h1 {
    color: #afbdbb;
}
.purple {
    background-color: #52303f;
    height: 500px;
    width: inherit;
    padding: 15px 150px 15px 150px;
    margin: 0px 0px 0px 0px;
    color: #b7a8af;
}
.purple h1 {
    color: #b7a8af;
}
.emerald {
    background-color: #0c483e;
    height: 500px;
    width: inherit;
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
}
.rain {
    background-color: #afbdbb;
    height: 500px;
    width: inherit;
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
}

/* Universal styles
___________________________________*/
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 16pt;
    width: 100%
}
html {
    background-color: #0c483e;
    font-size: 18px;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

@media (max-width: 1080px) {
    nav {
      display: none;
    }
  }

/* Navigation styles
___________________________________*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: #0c483e;
    width: 100%;
    min-height: min-content;
    max-height: max-content;
    top: 0;
    padding-top: 10px;
    padding-bottom: 1p0x;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin-right: 0;
    font-size: 1.8vw;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header a{
    text-decoration: none;
    padding: 30px 75px 46px 75px;
    color: burlywood;
    font-family: 'Poiret One', cursive;
}

nav {
    margin: 0px 0px 16px 0px;
    /*padding-left: 24px;
    padding-right: 24px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}
nav a {
    /*width: 100%;*/
    padding: 30px 75px 30px 75px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    text-decoration: none;
 }
 nav a:hover {
     background-color: burlywood;
     color: #0c483e;
 }

/* Page styles
    _____________________________________________*/
#Pages {
    margin-top: 100px;
}

#Home {
    position: static;
    text-align: center;
    padding-top: 200px;
    /*padding-bottom: 200px;*/
    color: white;
    /*background-image: url("../images/Personal_Favicon_rose_gold.png");*/
    background-position: left;
    background-repeat: no-repeat;
    background-color: #afbdbb;
    min-height: 500px;
    max-height: max-content;
}

#About {
    position: static;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    background-color: #178a76;
    height: max-content;
}

#About h2 {
    color: #ffffff;
}

#About h3 {
    color: #ffffff;
}

#About p {
    color: #020D0B;
}

#About ul {
    color: #020D0B
}

#About li {
    font-family: 'Roboto', sans-serif;
}

#Featured {
    position: static;
    padding-top: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10%;
    /*padding-bottom: 200px;*/
    color: white;
    background-color: darkgoldenrod;
    min-height: 500px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #b7a8af;
}

#Featured h2{
    color: #051c18;
    text-align: center;
}

#Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project {
    /*background-color: white;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: white;
}

#lumi-cue .project{
    background-image: url("../images/Lumi\ Cue\ Github\ Cover.png");
}

.project:hover {
    box-shadow: 6px 10px 3px 3px rgba(0, 0, 0, 0.2), 0 6px 10px 3px rgba(0, 0, 0, 0.19);
}

.project ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: min-content;
    padding-left: 0;
    padding-right: 10px;
    background-color: #0c3448;
    padding: 3% 5% 3% 5%;
    margin: 0;
    /*color: white;*/
}

.project li {
    list-style: none;
}

.project-info {
    flex-grow: 2;
    padding-left: 5%;
    padding: 3% 5% 3% 5%;
    background-image: url("../images/Lumi\ Cue\ transparent\ logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Footer styles
___________________________________*/
footer {
    align-items: center;
    background-color: #0c483e;
    /*width: 100%;*/
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin-right: 0;
    margin: 0;
    font-size: 2vw;
}

footer ul {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

footer li {
    text-align: center;
}

footer a{
    text-decoration: none;
    color: burlywood;
}

/* flip card
_______________*/
.card-outer {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-outer:hover .card-inner {
    transform: rotateX(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-front {
    background-color: white;
}

.card-back {
    background-color: #52303f;
    color: white;
    transform: rotateX(180deg);
}
